<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>timeCuratedExtract</key>
    <string>FastNotifierAbortDependency</string>
    <key>fancyInsideTransition</key>
    <string>OperatorPinWatch</string>
    <key>detachMobileBundle</key>
    <string>GlacierScreenDeferParseProject</string>
    <key>encodeTransit</key>
    <string>HardSpoofListen</string>
    <key>monsterEvent</key>
    <string>CourierRoadmapParametricSturdy</string>
</dict>
</plist>
