<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>holisticSnowActivityNormalize</key>
    <string>SoftenedSpawnStateFix</string>
    <key>withoutExpandedAlpha</key>
    <string>KeypathRemainderService</string>
    <key>yardRestriction</key>
    <string>ClosePoplarEncodeChain</string>
    <key>forceSpontaneousMonster</key>
    <string>OrbitPaginateControlTail</string>
    <key>animationMildChain</key>
    <string>ElasticityToolPauseIterate</string>
</dict>
</plist>
