<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>descriptorUnityTree</key>
    <string>BeyondSpineThin</string>
    <key>scatterProjector</key>
    <string>CompletionHarborPopulateCatalyst</string>
    <key>bulkyTheoryNotifyCertificate</key>
    <string>InReadyNotifierVersion</string>
    <key>swiftEnrichStory</key>
    <string>FairSaturationHearty</string>
    <key>underStageRefined</key>
    <string>PerformExtendSegmentWavy</string>
    <key>drawerProjectPrime</key>
    <string>DetectFinderTrainQueryPoplar</string>
    <key>pixelReposition</key>
    <string>ListenerTopicBlend</string>
    <key>smoothMissionParcelAround</key>
    <string>EarthHydrate</string>
    <key>bufferMaterialBrilliantlyAt</key>
    <string>FeatherConsoleExpose</string>
</dict>
</plist>
