<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>playDeltaMasterJust</key>
    <string>SandGuardCompass</string>
    <key>pathZoomTweak</key>
    <string>FactoryLoopWorkbenchEarth</string>
    <key>imageHonest</key>
    <string>SceneCapacitiesClarity</string>
    <key>wavyImpact</key>
    <string>DistinctStackDual</string>
    <key>accentUp</key>
    <string>RealCheckGraciousRandomize</string>
    <key>compassAppearanceJust</key>
    <string>TonalReplayForesightedAperture</string>
    <key>stylerEmitterConcurrent</key>
    <string>VersionMergerDepotStamp</string>
    <key>patternOutside</key>
    <string>PlazaSongMount</string>
    <key>controlExponent</key>
    <string>BrightnessAlongSoft</string>
</dict>
</plist>
