<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>audioStretchSeasonal</key>
    <string>RuggedizedAssignLayoutRealm</string>
    <key>validationMask</key>
    <string>DriftCollectionMomentWave</string>
    <key>negateException</key>
    <string>ClampAdapterSpoof</string>
    <key>iconOfDecentConverter</key>
    <string>ErrorPinRevoke</string>
</dict>
</plist>
