<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>completerPoplarStagger</key>
    <string>SpringTransformCube</string>
    <key>containerMaskItem</key>
    <string>FringeUninstallInitial</string>
    <key>namePositiveFaintUnder</key>
    <string>DataUltimatePassage</string>
    <key>processPositionRobust</key>
    <string>MaskWealthTwistPicker</string>
    <key>alongBatch</key>
    <string>SuperCrossCaption</string>
    <key>radiusUtmostChallengeReplace</key>
    <string>ElmBeaconCloneAlignBrightness</string>
    <key>untouchedGrayscaleFacetPlay</key>
    <string>IntensityBehind</string>
</dict>
</plist>
