<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>consolidateConductor</key>
    <string>HeathPleasantFactoryOrbit</string>
    <key>featureDisable</key>
    <string>PropagateCelestialRare</string>
    <key>elevatedReturnMenu</key>
    <string>AbortSelectorWaveAmid</string>
    <key>parserGlobalApply</key>
    <string>LoyalHistogramArtifact</string>
    <key>deliverStormFlags</key>
    <string>InspectDisclaimerFragments</string>
    <key>radiusCondensePermutation</key>
    <string>OrchestratorPlaySelfFactory</string>
</dict>
</plist>
