<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>reflexiveInline</key>
    <string>VocalMethodRidgePage</string>
    <key>windReloadPureVariable</key>
    <string>ContrastingConsolidateScrollPromise</string>
    <key>dependencyCloseHeroic</key>
    <string>ElmFallsNegate</string>
    <key>spotBuild</key>
    <string>RuggedizedPositionerEasy</string>
</dict>
</plist>
