<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>scanDispatcherExtendThorough</key>
    <string>TaskAccentEndlessWell</string>
    <key>plotSoftenedInteger</key>
    <string>DeriveQuaternionVisible</string>
    <key>interpreterWealthyGladeHide</key>
    <string>ListDetachDescription</string>
    <key>inflateUpwardLane</key>
    <string>PreloadConsolidateStoryCompass</string>
    <key>registryOpenCourier</key>
    <string>DeliverMinifyGuardCavern</string>
</dict>
</plist>
