<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>cubitDominant</key>
    <string>UntilLocatorTweakCivicPositioner</string>
    <key>savePrimeEngineInfo</key>
    <string>DocumentInlineWall</string>
    <key>scopeSpeed</key>
    <string>PayloadNavigatorClearTone</string>
    <key>speckledInterpolationCoral</key>
    <string>LanguageStripContextFocusRender</string>
    <key>animateSuperDependencySensor</key>
    <string>UnityPressureDismiss</string>
    <key>dropHeapWindow</key>
    <string>PanelClearAbortKeypath</string>
    <key>mixerHistogram</key>
    <string>BalanceKindred</string>
    <key>profileBrisk</key>
    <string>FolderPrismAmortizationBloom</string>
    <key>emberTint</key>
    <string>SupplyGardenHarmlessRunAbort</string>
    <key>localWreath</key>
    <string>MarkerSteadyAcceptMist</string>
</dict>
</plist>
