<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>spoofChannel</key>
    <string>OutsideChord</string>
    <key>retreatChapter</key>
    <string>SlopeOperationEpisode</string>
    <key>expandedScaffoldConfigureSwatch</key>
    <string>EqualizationHorizonBurst</string>
    <key>modularObjectCore</key>
    <string>InsetMatureConfigAutosave</string>
    <key>opacityExtraHarbor</key>
    <string>OperationTrueAssist</string>
    <key>decorationUnderForesightedShell</key>
    <string>SplitCoralSigner</string>
    <key>frugalSubtractDocument</key>
    <string>MenuElevateDropdownFuse</string>
    <key>fondEnforce</key>
    <string>PhaseUntouchedOptimizerSpot</string>
    <key>aggregateAccessoryHarmonicPrioritize</key>
    <string>AspectActionCompassPatch</string>
    <key>byArc</key>
    <string>PetalWithReplica</string>
</dict>
</plist>
