<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>shadowedTrendElasticityPublish</key>
    <string>CallbackIntervalCollateNumber</string>
    <key>delegateForCalmEnvelope</key>
    <string>DeltaAscentStormBalancer</string>
    <key>duskBareMaterial</key>
    <string>ScheduleStripModify</string>
</dict>
</plist>
