<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>returnText</key>
    <string>MigrateForwardFunction</string>
    <key>completionSummarizeAlignmentFresh</key>
    <string>LitheParserMock</string>
    <key>diamondCommitStylerCompactified</key>
    <string>AuthorizeFigureLandscape</string>
    <key>channelsEnqueueJust</key>
    <string>InsetKernelInteractor</string>
</dict>
</plist>
