<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>nectarBrokerPrint</key>
    <string>OpenPreciousButton</string>
    <key>proxyOrchestrateQuotaGentle</key>
    <string>PlainDrawVital</string>
    <key>scopeZealousPrecisionPreload</key>
    <string>ToneThinFirm</string>
    <key>bambooConsolidateTouch</key>
    <string>GetTribeReverseTranquil</string>
    <key>appendClever</key>
    <string>BackupJunctionRebase</string>
    <key>playfulDetectorExtract</key>
    <string>GiftedStatusOrientationDistant</string>
</dict>
</plist>
