<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>convolutionTruth</key>
    <string>AppendDisplayConsumerSkilled</string>
    <key>reactiveSkipHashHoney</key>
    <string>ClipperDescentPlanner</string>
    <key>knackGradualSpoof</key>
    <string>MediatorLegacyGreat</string>
</dict>
</plist>
