<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>prototypeFindDome</key>
    <string>DetachDeriveDecodeModel</string>
    <key>dereferenceLiberalRole</key>
    <string>CleanKeyframeFormatterPackage</string>
    <key>focusedConfiguration</key>
    <string>PositionerInvertFieldSolid</string>
    <key>toColor</key>
    <string>SlideSkipRibbon</string>
    <key>threadedUninstall</key>
    <string>AssembleSegmentProviderPopulate</string>
    <key>clipSkirtBadge</key>
    <string>LawfulCollateKeeper</string>
    <key>mightyNameSwirl</key>
    <string>KeyframeCorrectSpeed</string>
</dict>
</plist>
