<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>launchContraction</key>
    <string>ManagerFlash</string>
    <key>worthySpecifier</key>
    <string>SpringLoaderRealmConfigure</string>
    <key>drawerToolSeamless</key>
    <string>PivotInteractGenuine</string>
    <key>instructionPortal</key>
    <string>RoundedTransitMenu</string>
    <key>effectGraciousAtFolder</key>
    <string>AcceptDepthStretch</string>
    <key>effectKeenWarehouse</key>
    <string>ParameterDeliveryBaseline</string>
</dict>
</plist>
