<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>creatorForce</key>
    <string>BulletSpoofGalaxy</string>
    <key>painterModestWrite</key>
    <string>ObviousLocalizationDraw</string>
    <key>sensePrimal</key>
    <string>MaskFairMatureZonal</string>
    <key>receiveHybridInfo</key>
    <string>HarmonicValidateWithin</string>
    <key>priorityUntil</key>
    <string>CenterMediatorResolveTool</string>
    <key>fillDaintyDawn</key>
    <string>RoundBonnyUprightPresent</string>
</dict>
</plist>
