<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>descriptionCurveCompose</key>
    <string>GreenMaterialDown</string>
    <key>detailSerializeProjectionTrusted</key>
    <string>AssignBuildLaunchControlAudit</string>
    <key>soundRoundControllerFeedback</key>
    <string>ParticleVistaAcknowledgeGladeHardy</string>
    <key>delicateStateBehind</key>
    <string>AllocateDeliveryEnhance</string>
    <key>melodyHappy</key>
    <string>RecalculateConstructWithout</string>
</dict>
</plist>
