<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>fertileAdaptTaxonomy</key>
    <string>SingletonDurableTitle</string>
    <key>directReductionElmUnder</key>
    <string>DeltaShuffle</string>
    <key>logicalProcessorSegment</key>
    <string>PriorityImplementStrikeStone</string>
    <key>validatorSereneNormalize</key>
    <string>ResizeOwnerTheme</string>
</dict>
</plist>
