<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>magnifyAgile</key>
    <string>DecorateSturdyEarthInteract</string>
    <key>consistentTweak</key>
    <string>AcrossDropdownOpenEminent</string>
    <key>singletonClipRobustSlope</key>
    <string>YardDrawSurf</string>
    <key>exoticHintedTensionLoad</key>
    <string>PriorityCautiousWise</string>
    <key>peakEclecticTraversalCrop</key>
    <string>InformationStitchMaterialAfter</string>
    <key>accelerateTerseParcelPattern</key>
    <string>TreeAnchorModulus</string>
    <key>insetArtisticSwitchReverse</key>
    <string>AccountFrameGridline</string>
</dict>
</plist>
