<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>modifySublimeBundleNorm</key>
    <string>WavyTenderAlert</string>
    <key>worthyFeedbackChain</key>
    <string>SunAccountElevateEnable</string>
    <key>duringPopupWorthUltimate</key>
    <string>HaloEnqueueFeatherRequestAgent</string>
    <key>reflexiveAdapterDecode</key>
    <string>LoadVigorousConverter</string>
    <key>unloadTopicShimmeringLane</key>
    <string>SlateInfrastructureFineMinimal</string>
    <key>chiefFlameReload</key>
    <string>ResultDetailedWinter</string>
    <key>hydrateFormDuskLuminous</key>
    <string>ReplayThornPlanner</string>
    <key>celestialWrite</key>
    <string>TextureRoundedWavyPriorityTransmit</string>
    <key>trianglesOutside</key>
    <string>MajorFallbackPage</string>
</dict>
</plist>
