<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>sinkRandomizeImageBold</key>
    <string>SteamRequestPriority</string>
    <key>collectionOriginalAggregateSnap</key>
    <string>DepotSeaBaseLeaf</string>
    <key>proudDescriptorBeyondEnvelope</key>
    <string>LaunchLockTenderReorder</string>
    <key>bandwidthExquisiteListenDune</key>
    <string>CleanBackupUponPrune</string>
    <key>remainderTimelyReplaceGorge</key>
    <string>NotifyStoryboardFocus</string>
    <key>replayDisclaimerDelicateDesert</key>
    <string>FlexRecalculateShadowed</string>
    <key>handlerFeasible</key>
    <string>DecoratorHoldFrameworkBy</string>
    <key>selfQuiet</key>
    <string>ThresholdWayTailorGrid</string>
</dict>
</plist>
