<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>swirlPermutation</key>
    <string>RecordSaverSelector</string>
    <key>fineConfig</key>
    <string>ComponentPlayDetachBesideCohesive</string>
    <key>distinctSchema</key>
    <string>HandyHonestRadius</string>
    <key>confidentialityVesselUnlockSilent</key>
    <string>BorderMagicRockDescriptor</string>
</dict>
</plist>
