<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>prefetchScene</key>
    <string>PixelPastDownCavern</string>
    <key>underSignature</key>
    <string>BeyondPlannerAlongsideList</string>
    <key>rationalCliff</key>
    <string>TriggerLuckyPrairie</string>
    <key>slateEnsure</key>
    <string>SoftenedRebaseTag</string>
</dict>
</plist>
