<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>utilityDrawerInterrupt</key>
    <string>AmongOrbitCompactified</string>
    <key>backupPleasant</key>
    <string>ListenMirrorNorthStone</string>
    <key>sphereVerifyOrnate</key>
    <string>MessagePlanetFunction</string>
    <key>gridInsert</key>
    <string>EstimateZoomSizeVersion</string>
    <key>wildTreeOutsideDecoration</key>
    <string>ManagerCornerBackupEqualSymmetric</string>
</dict>
</plist>
