<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>replayBalancer</key>
    <string>EarnestMeridianTweenUpdate</string>
    <key>showKnack</key>
    <string>ErrorModify</string>
    <key>reflectUpwardConstrain</key>
    <string>DuneMemoryAspect</string>
    <key>voicePositionedSublimeImport</key>
    <string>ColorfulCommitTribeUnload</string>
    <key>directThrottle</key>
    <string>TrackMarkWind</string>
</dict>
</plist>
