<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>judiciousMenuDereferenceWorkbench</key>
    <string>ConfidentialityFeedbackRadio</string>
    <key>agentDereferenceScaffoldTrusty</key>
    <string>SlateStayEntropy</string>
    <key>quietHuePublisherCache</key>
    <string>RavenLaunchLuminousBoardSnow</string>
    <key>dependencyThicket</key>
    <string>AuditWarpSwatchAbove</string>
    <key>aggregateAmendTracker</key>
    <string>DurationElmProcessSense</string>
</dict>
</plist>
